<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="blog-header">
  <h1>Poésie & Essais</h1>
  <nav class="blog-nav">
    <a href="/" class="back-to-site">← Retour au site principal</a>
  </nav>
</header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© 2025 htmlpoet</p>
  </footer>
      <script src="js/main.js"></script>
</body>
</html>


