---
layout: umunami
---

<article class="chronicle-content">
  {{ content }}
</article>

{% assign chapters = site.chronicles %}
{% for chapter in chapters %}
  {% if chapter.url == page.url %}
    {% assign prev_chapter = chapters[forloop.index0 | minus: 1] %}
    {% assign next_chapter = chapters[forloop.index0 | plus: 1] %}
  {% endif %}
{% endfor %}

<nav class="chapter-navigation">
  {% if forloop.first == false %}
    <a href="{{ prev_chapter.url }}" class="prev">
      &laquo; Chapitre Précédent
      <span>{{ prev_chapter.title }}</span>
    </a>
  {% endif %}
  
  {% if forloop.last == false %}
    <a href="{{ next_chapter.url }}" class="next">
      Chapitre Suivant &raquo;
      <span>{{ next_chapter.title }}</span>
    </a>
  {% endif %}
</nav>